@using razorPagesEgitim.Utility 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <!-- Development modundayken environnment içindekiler çalışsın -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /><!-- normalde bootstrap min dosyası vardı. ama geliştirici modundayken normal dosyası çalışsın demiş olduk -->
    </environment>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->

    <link rel="stylesheet" href="~/css/site.css" />

    <environment exclude="Development">
        <!-- Development modunda değilken envrironment içindekiler çalışsın -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
</head>
<body class="search-background">
    <header>
        <nav style="background-color: rgb(5, 71, 103) !important;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/anasayfaLogo.jpg" style="width:75px;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(StatikRoller.AdminKullanici))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-page="/bakim_tipleri/Index">Bakım Tipleri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-page="/Kullanicilar/Index">Referanslar</a>
                            </li>
                        }

                        @if (User.IsInRole(StatikRoller.MusteriKullanici))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-info" asp-area="" asp-page="/Makinalar/Index">Makinalar</a>
                            </li>
                        }
                    </ul>
                                <partial name = "_LoginPartial" />
                            </div >
                        </div >
                    </nav >
                </header >
                <div class="container">
                    <main role = "main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <footer style="background: linear-gradient(rgb(0, 97, 238), white,rgb(0, 97, 238)); " class="border-top footer text-info">
                    <div class="container">
                        &copy; 2021 - razorPagesEgitim - <a asp-area="" asp-page="/Privacy">Gizlilik</a>
                    </div>
                </footer>

                <environment include = "Development" >
                    <script src="~/lib/jquery/dist/jquery.js"></script>
                    <script src = "~/lib/bootstrap/dist/js/bootstrap.bundle.js" ></script >
                </environment >
                    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
                    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
                        <environment exclude="Development">
                            <script src="~/lib/jquery/dist/jquery.min.js"></script>
                            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                        </environment>

                        <script src="~/js/site.js" asp-append-version="true"></script>

                        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
