@page
@model razorPagesEgitim.Areas.Identity.Pages.Account.EmailDogrulaModel
@{
    ViewData["Title"] = "Email Doğrulama";
}

<div class="backgroundwhite">
    <div>
        <h2 class="display-6 text-info">Email Doğrulama Bilgisi</h2>
    </div>
    <div>
        <p class="text-muted">Email adresinizi lütfen doğrulayınız! Doğrulama mesajı email adresinize ulaşmıştır. Inboxınızda göremiyorsanız lütfen spamları kontrol ediniz..</p>
    </div>
</div>