@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Şifremi unuttum doğrulama";
}

<h1>@ViewData["Title"]</h1>
<p>
   Şifrenizi sıfırlamak için lütfen email adresinizi kontrol ediniz!
</p>

