@page
@model LockoutModel
@{
    ViewData["Title"] = "Hesap Dondurma";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bu hesap dondurulmuştur, lütfen daha sonra tekrar deneyiniz..</p>
</header>
