@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifre yenileme doğrulama";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz yenilenmiştir. Lütfen <a asp-page="./Login">buraya tıklayınız</a>.
</p>
